<section class="col-xs-10 col-sm-5 col-md-5 loginbox">

  <div class="colorcap"></div>

  <section class="container-fluid login">
    <div class="full-fluid strip"></div>
    <section class="login_logo full-fluid text-center">
      <figure class="text-center"><img src="../../assets/images/login_logo.png" alt="Login Logo"></figure>
      <p>In Business for People</p>
    </section>
    <form class="row">
      <md-input-container class="col-xs-12">
        <input mdInput placeholder="User Name" value="" type="text">
        <md-icon class="btn_iconsize position_suffix">&#xE8A6;</md-icon>
      </md-input-container>

      <md-input-container class="col-xs-12">
        <input mdInput placeholder="Client" value="" type="text">
        <md-icon class="btn_iconsize position_suffix">&#xE853;</md-icon> 
      </md-input-container>

      <md-input-container class="col-xs-12">
        <input mdInput placeholder="Password" value="" type="text">
        <md-icon class="btn_iconsize position_suffix">&#xE898;</md-icon>
        
      </md-input-container>

      <button md-raised-button class="submit" (click)="redirectToHome()" type="button">
        Sumbit 
        <md-icon class="btn_iconsize">&#xE163;</md-icon>
      </button>

    </form>


  </section>
</section>
