@mixin boxshadow($shadow){
    box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    -o-box-shadow: $shadow;
}
@mixin border-radius($radius){
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin border-radius-topcorner($top-left,$top-right){
	-moz-border-top-left-radius:$top-left;
	-moz-border-top-right-radius:$top-right;
	-webkit-border-top-left-radius:$top-left;
	-webkit-border-top-right-radius:$top-right;
	-ms-border-top-left-radius:$top-left;
	-ms-border-top-right-radius:$top-right;
	-o-border-top-left-radius:$top-left;
	-o-border-top-right-radius:$top-right;
}

// TRANSFORMS
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

// Rotate
@mixin rotate ($deg) { 
	@include transform(rotate(#{$deg}deg));
}

// Scale
@mixin scale($scale) {
	@include transform(scale($scale));
}

// Translate
@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}

// Skew
@mixin skew ($x, $y) {
	@include transform(skew(#{$x}deg, #{$y}deg));
}

// Transform Origin
@mixin transform-origin ($origin) {
    	-webkit-transform-origin: $origin;
    	-moz-transform-origin: $origin;
	-ms-transform-origin: $origin;
	transform-origin: $origin;
}

@mixin transition($animate){
	transition: $animate;
	-webkit-transition: $animate;
	-moz-transition: $animate;
	-ms-transition: $animate;
	-o-transition: $animate;
}