
$magenta_semi:#f95372;
// BACKGROUND COLOR THEME
$block_greydefault:#4c4c4c;
$block_lightgrey:#e7e9ea;
$bloock_semiwhite:#f4f3f3;
$block_white:#fff;

// FONT COLOR THEME
$color_default:#535353;
$color_mediumgrey:#434242;
$color_darkgrey:#363636;
$color_black:#000;
$color_white:#fff;
$color_darksky:#2183f3;
$color_sky:#4ac7ed;
$color_brightgreen:#afc836;

// FONT FAMILY THEME
$font_default:'robotoregular';

// FONT size THEME
$fontsize_default:14px;
$fonsiae_xs:13px;
$fontsize_sm:14px;
$fontsize_xsm:16px;
$fontsize_xxsm:18px;
$fontsize_xxxsm:20px;


